; begin auth token
//pkgs.dev.azure.com/remira/_packaging/remira/npm/registry/:username=remira
//pkgs.dev.azure.com/remira/_packaging/remira/npm/registry/:_password=${REMIRA_TOKEN}
//npm.fontawesome.com/:_authToken=${FONTAWESOME_PACKAGE_TOKEN}
; end auth token
 
@remira:registry=https://pkgs.dev.azure.com/remira/_packaging/remira/npm/registry/
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
                       
always-auth=true